//brand color
$jaffa : #ef7c37;
$white: #fff;
$nevada: #656d78;
$mako: #434b56;//h2
$lavenger-gray: #c7c9cd;
$bombay: #b1b3b5;
$blue-de-france: #378eef;
$light-gray: #d2d2d2;//form bo rder
$white060: rgba(255,255,255,0.6);
$silver-chalice: #a8abb0;

//base color
$base-text-color: $nevada;
$base-background-color: $white;
$base-link-color:$blue-de-france;
$base-form-text-color:$mako;
$base-input-border-color:  $light-gray;

$base-font-size: 13px;
$base-line-height: 1.615;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 960px; 

// @font-face-serif: 
// @font-face-sans-serif: 