//brand color
$jaffa : #ef7c37;
$white: #fff;
$nevada: #656d78;
$mako: #434b56;//h2
$lavenger-gray: #c7c9cd;
$bombay: #b1b3b5;
$blue-de-france: #378eef;
$gallery: #eeeeee;
$light-gray030:  rgba(210,210,210,0.3);// #d2d2d2;//form border
$light-gray: #d2d2d2;//form border
$white060: rgba(255,255,255,0.6);
$cararra: #ecebeb;
$silver-chalice: #a8abb0;
$piper: #cc692f;
$jambo: #7a8087;
$anti-flash-white: #f3f3f3;


//base color
$base-text-color: $nevada;
$base-background-color: #fff;
$base-link-color:$white060;
$base-form-text-color: #000;
$base-form-placeholder-color: #999;
$base-input-border-color:  $light-gray;

$base-font-size: 13px;
$base-line-height: 1.615;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 960px;

// @font-face-serif: 
// @font-face-sans-serif: 