//brand color
$light-sea-green: #1abc9c;
$athens-gray: #ecf0f1;
$cadet: #4f6274;
$niagara: #00a988;
$white:#fff;
$pickled-bluewood:#34495e;



$base-text-color: #000;
$base-background-color: #fff;
$base-link-color: #666;
$base-form-text-color: #000;
$base-form-placeholder-color: #999;
$base-input-border-color: #999;

$base-font-size: 1.4em;
$base-line-height: 1.429;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 320px;
$base-max-width: 980px;//960
// @font-face-serif: 
// @font-face-sans-serif: 