
// Show active breakpoint in top right corner of viewport
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, tvscreen);

@import "base/markup-variables";
@import "base/markup-mixins";
@import "base/base-reset";
@import "form";

.holder{
	width:$base-min-width;
	padding: 0 10px;
	margin:0 auto;
	@extend %clearfix;
	//overflow: hidden;
}
#header{
	line-height: 1;
	background-color: $white;
	color:$lavenger-gray;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
	padding-bottom: 23px;
}
.top{
	width:100%;
	text-align: right;
	margin-bottom: 3px;
	.lang{
		display: inline-block;
		text-align: left;
		vertical-align: top;
		border: solid  $light-gray;;
		border-width: 0 1px 1px 1px;
		margin-right: 5px;
		height:26px;
		width:108px;
		color:$silver-chalice;
		background: #f8f8f8;
		margin-bottom: 2px;
		border-radius: 0 0 5px 5px;
		box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.6) inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.15);	
		@include arrow-lazy(down,/* $al-size: */4px, /*$al-color:*/ #ccc,/*  $al-center:  */85%, /* $al-margin: */ -15px, after);
		img{
			margin: 4px 8px 0 11px;
		}
		&:hover{
			color: $mako;
			text-decoration: none;
		}
	}
	.country{
		display: inline-block;
		vertical-align: top;
		border: solid #cc692f;
		border-width: 0 1px 1px 1px;
		border-radius: 0 0 5px 5px;
		color: $white;
		background: $jaffa url('../images/img-country.png') 9px 2px no-repeat;
		padding: 3px 29px 3px 6px;
		height:26px;
		width:156px;
		position: relative;
		box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, 0px 2px 3px 0px rgba(0, 0, 0, 0.15);	
		//@include arrow-lazy(down,/* $al-size: */4px, /*$al-color:*/ $white,/*  $al-center:  */92%, /* $al-margin: */ -15px, after);
		&:after {
			content: '\f0d7 ';
			position: absolute;
			top: 6px;
			right: 9px;
			font: normal normal normal 12px/1 FontAwesome;
		}
		&:hover{
			text-decoration: none;
			background-color:  darken($jaffa, 10%);

		}
	}
}
.logo{
	float: left;
	margin:-5px 62px 0 -3px;
}
#nav{
	float: left;
	ul{
		@extend %listreset;
		@extend %clearfix;
		li{
			float: left;
			margin-right:19px;
		}
		a{
			color:$nevada;
			&:hover{
				color:$lavenger-gray;
				text-decoration: none;
			}
		}
		.active a{
			background: $jaffa;
			padding:6px 11px;
			border-radius: 3px;
			color:$white;
			&:hover{
				background:  darken($jaffa, 10%);
			}
		}
	}
}

.register-block{
	float: right;
	margin-top: 15px;
 
 	@extend %listreset;
	li{
		margin-left: 10px; 
		float: left;
		a{
			position: relative;
			padding:6px 8px 5px 10px;
			border-radius: 4px;
			color:$white;
			background: $nevada;
			&:hover{
				background: $lavenger-gray;
				text-decoration: none;/*todo*/
			}
		}
	}

}
//
//	visual
//
.top-content{
	background: $bombay;/*todo*/
	padding-top: 51px;
	//background-size: 0 315px;
	height:319px;

}
.colomn{
	float: left;
	width:460px;
	+.colomn{
		float: right;
	}
}
.tab-block{
	border-radius:4px;
	overflow: hidden;
	border:1px solid $light-gray;
	margin-bottom: 40px;

}
#tab-manage{
	min-height: 330px;
}
//	tabset
.tabset{
	@extend %listreset;
	@extend %clearfix;
	font-size: 16px;
	line-height: 1.35;
	border-width: 1px 1px  0 1px;
	//border-top-right-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
	li{
		float: left;
		width:50%;
		text-align: center;
		+li{
			border: solid $light-gray;
			border-width: 0 0 0 1px;

		}
		a{	
			border-top:5px solid $jaffa;
			background-color: #eeeeee;
			display: block;
			width: 229px;
			height:43px;
			color:#a8abb0;
			border:solid $light-gray;
			border-width: 0 0px 1px 0px;
			text-decoration: none;
			padding-top: 11px;
			&:hover{
				color:$mako
			}
		}
	}
	.active a{
		//line-height: 21px;
		border-top:5px solid $jaffa;
		padding:6px 11px;
		background:$white;
		color:$mako;
		border-bottom: 1px solid $white;
	}
}



.book-form{
	padding: 16px 38px 0;
	border:1px solid $white ;
	font-size: 14px;
	background-color: $white;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
	.row{
		margin-bottom: 24px;	
		@extend %clearfix;
	}
	label[for="locale"],
	label[for="drop-off"],
	label[for="pick-up"]{
		float: left;
		font-size: 11px;
		text-transform: uppercase;
		margin-bottom: 6px;
	}

	label[for="check"]{
		float: left;
	
		font-size: 14px;
	}

	.text{
		width:380px;
		margin-bottom: 9px;
		padding: 14px 14px 14px 9px;
		
	}

	input[type="checkbox"]{
		float: left;
		width:19px;
		height:19px;
		margin-right: 10px;
	}
	input[type=date]::-webkit-inner-spin-button,
	input[type=date]::-webkit-calendar-picker-indicator {
	 	display: none;
	 	-webkit-appearance: none;
	}
	input[type=date]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		display: none;
	}
	.date {
		display: inline-block;

	 	input[type=date]{
	 		color: $light-gray;
			width:120px;
			padding: 13px  0px 13px  25px;
			margin-right: 3px;
			font-size: 14px;

		}
		&:before{
			content:'\f073 ';
			position: absolute;
			padding:15px 0 0 10px;
			color: $blue-de-france;
			font: normal normal normal 16px/1 FontAwesome;
		}		
	}

	.time{
		width:55px;
		padding: 14px 8px 14px 9px;
		display: inline-block;
		vertical-align: bottom;
	}
	.col{
		width:182px;
		float: left;
		+.col{
			margin-left: 15px;
		}
	}
	label[for="type"]{
		display: block;
		font-size: 11px;
		text-transform: uppercase;
		margin-bottom: 7px;
	}
	select{
		float: left;
		width: 120px;
	}

	.button{
		display: inline-block;
		vertical-align: bottom;
		float: right;
		border:1px solid #cc692f;
		border-radius: 4px;
		box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
		padding: 15px 30px 15px 18px;
		color:$white;
		font-weight: bold;
		background: $jaffa;
		text-transform: uppercase;
		position: relative;
		&:after{
			content: '\f0da';
			position: absolute;
			top: 16px;
			right: 15px;
			font: normal normal normal 12px/1 FontAwesome;
		}
		&:hover {
			background: darken($jaffa, 10%);
		}
	}
}

.code{
	font-size: 11px;
	color:$blue-de-france;
	display: block;
	float: right;
	border-bottom: 1px dashed $blue-de-france;
	text-transform: uppercase;
	&:hover{
		text-decoration: none;
		border-bottom: 1px solid $blue-de-france;
	}
}

.carousel{
	position:relative;
	.mask{
		//width:460px;
		position: relative;
		overflow: hidden;
	}
	.slideset{
		width:9999px;
		position:relative;
		float:left; 
		font-size: 16px;
		color:$nevada;
		@extend %listreset;
		li{
			float: left;
		}
		.slide{
			width:460px;
			padding: 0;
		}
		.content{
			margin-left: 20px;
			margin-bottom: 30px;
		} 
		img{
			margin-left: 6px;
			margin-bottom: 15px;
		}
		h2{
			//line-height: 1.3;
			font-size: 36px;
			margin-bottom: 2px;
			color:$white;
		}
		p{
			margin:0 0 7px;
			color:#ecebeb;
		}
		.more{
			font-size: 13px;
			opacity: 0.4;
			color:$white;
			text-transform: uppercase;
			padding-left: 26px;
			&:before{
				content:'\f18e';
				position: absolute;
				margin: 5px 0 0 -23px;
				font: normal normal normal 18px/1 FontAwesome;
			}
			&:hover{
				color:$blue-de-france;
				opacity: 1;
			}
		}

	}
	.pagination{
		position: absolute;
		bottom:0%;
		left: 206px;
		ul{
			@extend %listreset;
			li{
				float: left;
				margin-right: 5px;
				a{
					display: block;
					width:10px;
					height:10px;
					border-radius: 50%;
					background: $lavenger-gray;
					box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
					@include hide-text;
					&:hover{
						background: $blue-de-france;
						box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
					}
				}
			}
			.active a{
				background: $blue-de-france;
				box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
			}
		}
	}
}


#main{
	padding-top: 146px;
	.section{
		//border-top: 1px dashed $bombay;
		background-image: url('../images/bg-separator.png');
		background-repeat: repeat-x;
		background-position:0 0%/* , 0 99% */;
		//border-bottom: 1px dashed $bombay;
		padding-top: 37px;
		padding-bottom: 0;
		margin-bottom: 38px;
		//box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
		@extend %clearfix;
		&:after{
			content:'';
			background-image: url('../images/bg-separator.png');
			background-repeat: repeat-x;
			background-position: 0 100%;
			height: 11px;
		}
	}

	.frame{
		float: left;
		width:300px;
		+.frame{
			margin-left: 20px;
		}

	}
	h1{
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 26px;
	}
	h3{
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 12px;
		a{
			color:$base-text-color;
		}
	}
	i{
		margin-right: 3px;
	}
	p{
		margin-bottom: 26px;
	}
	.more{
		display: block;
		opacity: 0.4;
		color:$mako;
		position: relative; 
		left: 21px;
		margin-top: 12px;
		text-transform: uppercase;
		font-weight: bold;
		&:before{
			content:'\f18e ';
			position: absolute;
			left: -23px;
			font: normal normal normal 21px/1 FontAwesome;

		}
		&:hover{
			color:$blue-de-france;
			opacity: 1;
		}
	}

}
.newsletter-form{
	background: $mako;
	border-radius: 4px;
	padding:19px;
	margin-bottom: 39px;
	display: table;
	font-size: 16px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15)inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.6);
	color:$white;
	label{
		float: left;
		width: 350px;
		margin: 8px  34px 0 0;
	}
	input[ type="text"],
	input[ type="email"]{
		float: left;
		margin-right: 8px;
		width: 199px;
		padding: 12px;
		background: #7a8087;
		border-radius: 4px;
		border: 1px solid $mako;

		box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.4), 0px 1px 3px 0px rgba(0, 0, 0, 0.1) inset;
		&:focus {
			border-color: lighten($mako, 30%); 
			outline: none;
		}
	}
	input[type="submit"]{
		float: right;
		color:$white;
		text-transform: uppercase;
		background: $jaffa;
		border-radius: 4px;
		padding:13px 19px; 
		border:1px solid #cc692f;
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15),0px 1px 2px 0px rgba(255, 255, 255, 0.3)inset;
		&:hover {
			background: darken($jaffa, 10%);
		}
	}

}
.aside-bottom{
	padding: 39px 0 14px 0;
	color: $nevada;
	background-color: $white;
	border-top: 1px solid $light-gray;
	a{
		color: $blue-de-france;
	}
}

.footer-nav,
.recent-tweets,
{
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	h3{
		line-height: 28px;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 6px;
	}
	ul{
		@extend %listreset;
	}
}
.footer-nav{
	width:105px;
	li{
		margin-bottom: 3px;
	}
	a{
		color: $nevada;
		&:hover{
			color: $blue-de-france;
			text-decoration: none;
		}
	}
}
.recent-tweets{
	width:220px;
	margin-left: 40px;
	h3{
		padding-left: 22px;
		&:before{
			content:'\f099';
			position: absolute;
			margin-left: -22px;
			margin-top: 5px;
			font: normal normal normal 16px/1 FontAwesome;
		}
	}
	p{
		margin-bottom: 4px;
	}
	date{
		color: $bombay;
		font-style: italic;
	}
}

.support-widget{
	float: right;
	width:302px;
	border:1px solid $light-gray;
	border-radius: 3px;
	background: #f3f3f3;
	padding: 14px 6px 0 0;
	margin-bottom: 33px;
	position: relative;
	text-transform: uppercase;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.6); 
	
	img{
		float: left;
		margin: 4px 22px 0px 17px;
	}
	span{
		font-size: 11px;
	}

	strong{
		display: block;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 2px;
	}
	a{ 
		display:inline-block;
		text-transform: none;
		font-size: 13px;
		padding-bottom: 0px;
		margin-bottom: 14px;
		border-bottom: 1px dashed $blue-de-france;
		&:hover{
			 border-bottom: 1px solid $blue-de-france;
			 text-decoration: none;
		}
	}
}

.share{
	float: right;
	width:302px;
	span{
		text-transform: uppercase;
	} 
	@extend %listreset;
	li{
		float: left;
		+li{
			margin-left: 29px;
		}
	}
	img{
		display: block;
		
	}
}

#footer{
	background: #f9f9f9 ;
	border-top:1px solid $lavenger-gray;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15) inset;
	padding: 17px 0;
	color:$bombay;
	img{
		float: left;
		margin-left: -3px;
	}
	address{
		float: right;
		font-style: normal;
	}
}