//brand color
$white: #fff;
$cerise-red: #e7425d;
$chicago: #5f5f5f;
$liver: #4e4e4e;
$white-smoke: #f5f5f5;
$true-blue: #0080e3;
$java: #1abcb6;
$light-sea-green: #1abc9c;
$tiffany-blue:#0ea9af;
$iron: #d6d6d6;
$mine-shaft: #323232;
$deep-carmine: #b02941;
$cyan:#00abe3;
$mariner: #197acb;
$mercury:#e6e6e6;

//base vars
$base-text-color:$chicago;
$base-background-color:$white;
$base-link-color: #666;
$base-form-text-color: #000;
$base-form-placeholder-color: #999;
$base-input-border-color: $white;

$base-font-size: 20px;
$base-line-height: 1.45;
$base-font-family: "proxima_nova_regular", Arial, Helvetica, sans-serif;

$base-min-width: 320px;
$base-max-width: 1000px;//1400px;

// @font-face-serif: 
// @font-face-sans-serif: 