//brand colors 
$dune: #3d372f;//top-bar
$giansboro:#e0dfd9;//header
$mountian-mist: #999;
$spring-wood: #f7f6f1;
$ruddy-braun: #b8622b;
$bronse: #cd7432;
$havy-metall: #322e28;
$tundora: #4a4442;
$isabelline: #f1f0eb;
$devis-gray:#565551;
$white010: rgba(255, 255, 255, 0.1);
$white: #fff;
$westar: #dad9d4;

$twitter-color:#2daae1;
$facebook: #3b5998;
$google-plus: #f63e28;
$dribbble: #ea4c88;
$rss: #f2861d;

// base variables
$base-text-color: $mountian-mist;
$base-background-color: $spring-wood;
$base-link-color: $ruddy-braun;
$base-form-text-color: $mountian-mist;
$base-form-placeholder-color: $spring-wood;
$base-input-border-color: $westar;
$base-input-border-focus-color:$spring-wood; 
$base-form-bg-color: $isabelline;
$base-font-size: 12px;
$base-line-height: 1.5; 
$base-font-family: Arial, Helvetica, sans-serif;

$slogan-font-family:'Times New Roman', Times, serif;


$base-min-width: 960px;

// @font-face-serif: 
// @font-face-sans-serif: 