//brand colors 
$rich-electric-blue: #068fd5;
$cg-red: #e53e2e;
$red-orange: #ff4533;
$dark-pastel-red: #c53527;
$outer-space: #2c333d;
$mountain-mist: #959595;
$boulder:#787878;
$suva-gray: #868686;
$cape-cod: #404040;
$dark-jangle-green: #1f1f1f;
$white: #fff;


// base variables
$base-text-color: $mountain-mist;
$header-hover: $rich-electric-blue;
$base-hover-color:$cg-red;
$base-background-color: $white;
$base-text-header-color:$dark-jangle-green;
$base-link-color: $red-orange;
$base-form-text-color:$white;
$base-input-border-color: rgba(255,255,255, 0.3);
$section-btn-shadow: $boulder;
$section-btn-hover: $suva-gray;
$section-btn-hover-shadow: $cape-cod;


$base-font-size: 14px;
$base-line-height: 1.714;
$base-font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$slogan-font-family: 'Times New Roman', Times, serif;

$base-min-width: 1140px;

// @font-face-serif: 
// @font-face-sans-serif:  
