//brand color
$shark: #1d262d;
$white: #fff;
$giansboro: #dededf;
$outer-space: #283847;
$tree-poppy: #f89d13;
$arsenic: #3b424a;
$light-gray: #d0d0d0;
$light-stay-gray: #798fa1;
$gainsboro : #dddddd;
$mirage: #101924;
$my-sin: #ffb01f;
$river-bad:	#3b4c5b;
$cadet-blue: #a9b5bd;
$arsenic:#3d4248;
$desert-storm: #f8f8f8;
$mischka: #d1d5dc;
$pale-sky:#607586;
$tuna:#293848;
//e6e6e6
//ced3db

$base-text-color: $pale-sky;
$base-background-color: #fff;
$base-link-color: #666;
$base-form-text-color: #000;
$base-form-placeholder-color: #999;
$base-input-border-color: $light-gray;

$base-font-size: 13px;
$base-line-height: 1.77;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 320px;//768px;//960px;
$base-max-width: 960px;
// @font-face-serif: 
// @font-face-sans-serif: 