/* mq-breakpoints: (
    // Base device classes
    mobile:      320px,
    tablet:      640px,
    desktop:    1024px,
    widescreen: 1200px,
    tvscreen:   1920px,

    // Tweakpoints
    mobileLandscape: 480px
); */

.content .top-section:after,
.content-holder:after,
.search-auto-form .row:after,
.loan-form .row:after {
	content: " ";
	display: block;
	clear: both;
}

.social-network,
#nav ul,
.breadcrumbs ul,
.page-title .tabs,
.content .top-section .view,
.paging ul,
.item-list ul,
.transport-filter,
.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #607586;
	background: #fff;
	font: 13px/1.77 Arial, Helvetica, sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}

* {
	max-height: 1000000px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: underline;
}

input,
textarea,
select {
	font: 100% Arial, Helvetica, sans-serif;
	color: #000;
	vertical-align: middle;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
	cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="submit"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	border: 1px solid #d0d0d0;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #848484;
	outline: none;
}

input[type=text],
input[type=password],
input[type=file],
input[type=submit],
input[type=search],
input[type=email],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}

p {
	margin: 0 0 1.2em;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: "";
	content: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* hide original element */

.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}

/* custom select styles */

.select-area {
	/* border:  dashed #777;
	border-width: 0 0 1px 0; */
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 26px;
	float: left;
	color: #798fa1;
}

.select-focus {
	border-color: #f00;
}

.select-area .center {
	border: dashed #777;
	border-width: 0 0 1px 0;
	white-space: nowrap;
	padding: 3px 1px;
}

.select-disabled {
	background: #eee;
}

.select-area .select-opener {
	position: absolute;
	height: 26px;
	width: 20px;
	right: 0;
	top: 0;
	border-color: #293848;
}

.select-area .select-opener:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border: 0;
	border-color: #293848;
	top: 100%;
	left: 0;
	margin-top: -18px;
	margin-left: -4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #293848;
	border-top-color: inherit;
}

.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}

.select-options .drop-holder {
	border: 1px solid #d1d5dc;
	overflow: hidden;
	height: 1%;
}

.select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.select-options ul li {
	width: 100%;
	float: left;
}

.select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	color: #798fa1;
	height: 1%;
}

.select-options .item-selected a {
	text-decoration: none;
	background: #798fa1;
	color: #fff;
}

/* select options optgroup example styles */

.select-options .optgroup {
	clear: both;
}

.select-options .optgroup strong {
	display: block;
	padding: 5px;
}

.select-options .optgroup ul a {
	padding-left: 30px;
}

.search-auto-form .select-area,
.loan-form .select-area {
	border: 1px solid #d1d5dc;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 31px;
	line-height: 31px;
	float: left;
	color: #798fa1;
	margin-bottom: 7px;
	margin-right: 10px;
}

.search-auto-form .select-focus,
.loan-form .select-focus {
	border-color: #d0d0d0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .09) inset, 0 2px 0 0 rgba(255, 255, 255, .6);
}

.search-auto-form .select-area .center,
.loan-form .select-area .center {
	border: none;
	padding: 3px 1px 0 10px;
}

.search-auto-form .select-disabled,
.loan-form .select-disabled {
	background: #eee;
}

.search-auto-form .select-area .select-opener,
.loan-form .select-area .select-opener {
	position: absolute;
	height: 26px;
	width: 20px;
	right: 0;
	top: 0;
	border-color: #293848;
}

.search-auto-form .select-area .select-opener:before,
.loan-form .select-area .select-opener:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border: 0;
	border-color: #293848;
	top: 100%;
	left: 7px;
	margin-top: -12px;
	margin-left: -4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #293848;
	border-top-color: inherit;
}

.search-auto-form .select-options,
.loan-form .select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}

.search-auto-form .select-options .drop-holder,
.loan-form .select-options .drop-holder {
	border: 1px solid #d1d5dc;
	overflow: hidden;
	height: 1%;
}

.search-auto-form .select-options ul,
.loan-form .select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.search-auto-form .select-options ul li,
.loan-form .select-options ul li {
	width: 100%;
	float: left;
}

.search-auto-form .select-options ul a,
.loan-form .select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	color: #798fa1;
	height: 1%;
}

.search-auto-form .select-options .item-selected a,
.loan-form .select-options .item-selected a {
	text-decoration: none;
	background: #798fa1;
	color: #fff;
}

.holder {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
}

#header.active .opener:after,
#header.active .opener:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 16px;
	left: 15%;
	right: 15%;
}

#header.active .opener span {
	opacity: 0;
}

#header.active .opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.top {
	background: #1d262d url("../images/bg-header.png");
	color: #fff;
	padding: 21px 0 28px 0;
	overflow: hidden;
}

.logo {
	float: left;
	margin: 7px 90px 0 1px;
}

address {
	float: left;
	font-size: 12px;
}

address strong {
	display: block;
	font-size: 18px;
	font-style: normal;
}

address span {
	color: #b6bfc9;
	display: block;
	margin-top: -2px;
}

.social-network {
	float: right;
	margin-top: 3px;
}

.social-network li {
	float: left;
	margin-left: 4px;
}

.social-network i {
	font-size: 30px;
}

.social-network a:hover i {
	color: #f89d13;
}

#header .social-network .social-network {
	position: absolute;
	right: 10%;
}

/* #header .social-network{
	@include breakpoint($tablet) { 
		
	}
} */

.navigation {
	background-color: #dededf;
	font-size: 15px;
	overflow: hidden;
	box-shadow: 0 1px 0 0 white inset, 0 0 3px 0 rgba(34, 49, 63, .32);
}

#nav {
	float: left;
	font-weight: bold;
}

#nav ul {
	overflow: hidden; /* @include breakpoint($tablet) {
			display: none;
		} */
}

#nav li {
	float: left;
}

#nav a {
	display: block;
	padding: 12px 22px;
	border: solid #dededf;
	border-width: 0 1px 0 1px;
	color: #3d4248;
	text-shadow: 0 1px 0 white;
}

#nav a:hover {
	background-color: #283847;
	text-decoration: none;
	color: #dededf;
	text-shadow: 0 1px 0 black;
}

#nav .active a {
	background-color: #283847;
	color: #fff;
	text-shadow: 0 1px 0 black;
}

#nav .active a:hover {
	background-color: #161e26;
}

.opener {
	display: none;
	float: right;
	width: 31px;
	height: 31px;
	top: 9px;
	background: #000;
	background: rgba(0, 0, 0, .5);
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	overflow: hidden;
	text-indent: -9999px;
}

.opener:before,
.opener:after,
.opener span {
	background: #fff;
	border-radius: 4px;
	position: absolute;
	top: 16px;
	left: 25%;
	right: 25%;
	height: 3px;
	margin-top: -2px; /* height/2 */
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.opener:before,
.opener:after {
	content: "";
	top: 10px;
}

.opener:after {
	top: 22px;
}

.resize-active .drop {
	-webkit-transition: none !important;
	transition: none !important;
}

.search-form {
	float: right;
	padding: 10px 0 10px 0;
	color: #3d4248;
	font-size: 12px;
}

.search-form input[type="search"] {
	padding: 7px 0 7px 10px;
	width: 208px;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .02) inset, 0 2px 0 0 rgba(255, 255, 255, .6);
}

.search-form input[type="submit"] {
	font-weight: bold;
	padding: 6px 12px 6px 12px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, .15) inset;
	border-radius: 4px;
	background-color: #e6e6e6;
	background: #e6e6e6;
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #fff 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #fff 100%);
}

.search-form input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #cdcdcd 0%, #fff 100%);
	background: linear-gradient(to bottom, #cdcdcd 0%, #fff 100%);
}

.breadcrumbs {
	margin-bottom: 25px;
}

.breadcrumbs ul {
	margin-top: 15px;
}

.breadcrumbs li {
	display: inline;
	vertical-align: top;
	padding: 0;
	margin: 0 2px 0 0;
}

.breadcrumbs li + li:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2.5px 0 2.5px 3px;
	border-color: transparent transparent transparent #3d4248;
	display: inline-block;
	vertical-align: top;
	margin: 10px 6px 0 0;
}

.breadcrumbs li li:first-child:before {
	color: #c11313;
}

.page-title {
	overflow: hidden;
	border: solid #d1d5dc;
	border-width: 0 0 1px 0;
	padding-bottom: 32px;
	margin-bottom: 18px;
}

.page-title h1 {
	font-size: 32px;
	letter-spacing: -1px;
	color: #293848;
	float: left;
	margin-bottom: 0;
}

.page-title .tabs {
	float: right;
	font-size: 12px;
}

.page-title .tabs li {
	float: left;
	margin-right: 3px;
	margin-top: 2px;
}

.page-title .tabs a {
	display: block;
	color: #798fa1;
	text-transform: uppercase;
	border: dashed;
	border-width: 0 0 1px 0;
	padding: 5px 0 0 0;
	margin: 0 5px;
}

.page-title .tabs .active a,
.page-title .tabs a:hover {
	color: #fff;
	background: #f89d13;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	margin: 0;
	padding: 5px 5px 4px 5px;
}

.page-title .tabs .active a:hover {
	background: #d28106;
}

#main {
	margin-bottom: 38px;
	color: #293848;
}

.content {
	float: left;
	width: 100%;
	padding-top: 7px;
}

.content .top-section {
	margin-top: 13px;
	padding-bottom: 28px;
}

.content .top-section .view {
	overflow: hidden;
	float: left;
	margin-top: -3px;
	margin-right: 17px;
}

.content .top-section .view li {
	float: left;
}

.content .top-section .view li:first-child a {
	border-radius: 5px 0 0 5px;
}

.content .top-section .view li:last-child a {
	border-radius: 0 5px 5px 0;
}

.content .top-section .view a {
	display: block;
	width: 30px;
	padding: 3px 1px 3px 6px;
	background-color: #e4e4e4;
	background: #e4e4e4; /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #e4e4e4 0%, #f8f8f8 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f8f8f8));
				background: -webkit-linear-gradient(top,  #e4e4e4 0%,#f8f8f8 100%);
				background: -o-linear-gradient(top,  #e4e4e4 0%,#f8f8f8 100%);
				background: -ms-linear-gradient(top,  #e4e4e4 0%,#f8f8f8 100%); */
	background: -webkit-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%);
	background: linear-gradient(to bottom, #e4e4e4 0%, #f8f8f8 100%);
	border: 1px solid #ddd;
}

.content .top-section .view i {
	text-shadow: 0 1px 0 white;
	font-size: 15px;
}

.content .top-section .view .active a,
.content .top-section .view a:hover {
	background: #f89d13;
	background-color: #f89d13;
	background: -webkit-linear-gradient(top, #f29204 0%, #fba31a 100%);
	background: linear-gradient(to bottom, #f29204 0%, #fba31a 100%);
	border: 1px solid #fba31a;
	color: #fff;
}

.content .top-section .view .active a i,
.content .top-section .view a:hover i {
	text-shadow: none;
}

.content-holder {
	margin-left: 260px;
}

.sort-form {
	float: left;
}

.sort-form select {
	float: left;
}

.sort-form #sort {
	width: 55px;
	margin-right: 9px;
}

.sort-form #page {
	width: 48px;
}

.sort-form label {
	float: left;
	margin-right: 6px;
}

.paging {
	float: right;
}

.paging ul {
	overflow: hidden;
	margin-top: -3px;
}

.paging li {
	float: left;
	margin-left: 2px;
}

.paging strong,
.paging a:hover {
	display: block;
	color: #fff;
	width: 29px;
	height: 29px;
	padding: 3px 0 0 10px;
	background-color: #2b3c4c;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #2b3c4c 0%, #19232c 100%);
	background: linear-gradient(to bottom, #2b3c4c 0%, #19232c 100%);
}

.paging a,
.paging span {
	display: block;
	color: #607586;
	width: 29px;
	height: 29px;
	padding: 3px 0 0 10px;
	background-color: #2b3c4c;
	border-radius: 5px;
	border: 1px solid #d8dce3;
	background: -webkit-linear-gradient(top, #e4e4e4 0%, #f8f8f8 100%);
	background: linear-gradient(to bottom, #e4e4e4 0%, #f8f8f8 100%);
	text-shadow: 0 1px 0 white;
}

.paging a:hover,
.paging span:hover {
	text-decoration: none;
}

.paging span {
	background: #f8f8f8;
	padding-left: 7px;
}

.paging .last {
	overflow: hidden;
	text-indent: -9999px;
	width: 0;
	height: 0;
	margin-top: 10px;
	border-style: solid;
	border-width: 5.5px 0 5.5px 6px;
	border-color: transparent transparent transparent #293848;
	margin-left: 14px;
}

.item-list {
	padding-top: 20px;
	margin-right: -20px;
	border: solid #d1d5dc;
	border-width: 1px 0 1px 0;
	overflow: hidden;
	margin-bottom: 33px;
}

.item-list .item {
	float: left;
	width: 33.3%;
	padding-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.item-list img {
	display: block;
	width: 100%;
}

.item-list a {
	display: block;
	position: relative;
}

.item-list a:hover ul {
	opacity: 1;
	left: 14px;
}

.item-list .description {
	position: absolute;
	left: 0;
	right: 0;
	height: auto;
	bottom: 0;
	padding-bottom: 9px;
	background-color: rgba(16, 25, 36, .9);
	z-index: 2;
}

.item-list .model {
	display: block;
	float: left;
	font-weight: bold;
	color: #fff;
	padding: 8px 0 0 13px;
}

.item-list .price {
	display: block;
	float: right;
	color: #ffb01f;
	padding: 8px 18px 0 0;
}

.item-list ul {
	top: 14px;
	line-height: 1;
	position: absolute;
	color: #fff;
	left: -100px;
	bottom: -100px;
	opacity: 0;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.item-list ul li {
	margin-bottom: 8px;
}

.sidebar {
	float: left;
	width: 260px;
	margin-left: -100%;
	padding-right: 40px;
}

.search-auto-form,
.loan-form {
	background-color: #f8f8f8;
	border: 1px solid #ebebeb;
	padding: 15px 8px 1px 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.search-auto-form .w100,
.loan-form .w100 {
	width: 177px;
}

.search-auto-form .w50,
.loan-form .w50 {
	width: 83px;
	float: left;
}

.search-auto-form .w50 + .w50,
.loan-form .w50 + .w50 {
	margin-left: 7px;
}

.search-auto-form h1,
.loan-form h1 {
	display: block;
	font-size: 21px;
	margin-bottom: 14px;
}

.search-auto-form h1 span,
.loan-form h1 span {
	font-weight: normal;
}

.search-auto-form select,
.loan-form select {
	padding: 5px 5px;
	margin-bottom: 8px;
}

.search-auto-form input[type="submit"],
.loan-form input[type="submit"] {
	display: block;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 12px;
	width: 106px;
	height: 44px;
	border-radius: 5px;
	color: #fff;
	background: #3b4c5b;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, .15) inset, 0 1px 3px 0 rgba(0, 0, 0, .3);
	background: #3b4c5b -webkit-linear-gradient(top, #e6e6e6 0%, #fff 100%);
	background: #3b4c5b linear-gradient(top, #e6e6e6 0%, #fff 100%);
	border: none;
	text-transform: uppercase;
}

.search-auto-form input[type="submit"]:hover,
.loan-form input[type="submit"]:hover {
	background: #27323c;
}

.search-auto-form label,
.loan-form label {
	display: block;
	font-weight: bold;
	margin-bottom: -1px;
}

.search-auto-form input[type="checkbox"],
.loan-form input[type="checkbox"] {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 5px 5px 0 0;
	float: left;
}

.search-auto-form label[for="new-car"],
.loan-form label[for="new-car"] {
	font-weight: normal;
	margin-top: 2px;
}

.transport-filter {
	margin: 0 0 -2px 0;
	overflow: hidden;
}

.transport-filter .auto,
.transport-filter .moto,
.transport-filter .bus,
.transport-filter .truck {
	display: block;
	float: left;
	margin: 0 10px 17px;
	background: url("../images/sprite.png") no-repeat;
	width: 25px;
	height: 13px;
}

.transport-filter .auto {
	background-position: 0 -1px;
}

.transport-filter .moto {
	background-position: -47px -1px;
}

.transport-filter .bus {
	background-position: -91px 0;
}

.transport-filter .truck {
	background-position: -135px 0;
	margin-right: 0;
}

.transport-filter .auto:hover,
.transport-filter .active .auto {
	background-position: 0 -18px;
}

.transport-filter .moto:hover,
.transport-filter .active .moto {
	background-position: -47px -18px;
}

.transport-filter .bus:hover,
.transport-filter .active .bus {
	background-position: -91px -17px;
}

.transport-filter .truck:hover,
.transport-filter .active .truck {
	background-position: -135px -17px;
}

/* label[for="manufact"],//todo
label[for="model"],
label[for="year"],
label[for="price"],
label[for="mileage"],
label[for="loan"],
label[for="down"],
label[for="annual"],
label[for="l-period"],
input[type="checkbox"]
{
	display: block;
	font-weight: bold;
	margin-bottom: -1px;
} */

.loan-form select {
	width: 93%;
}

.loan-form input[type="submit"] {
	margin-top: 13px;
}

.sub-main {
	background: #fff url("../images/bg-sub-main.png");
	padding-top: 33px;
	padding-bottom: 45px;
	font-size: 12px;
	line-height: 1.667;
	padding-right: 25px;
}

.sub-main dt {
	color: #293848;
}

.sub-main dd {
	color: #607586;
}

.sub-main h1 {
	font-size: 38px;
	margin-bottom: 14px;
	color: #8f98a2;
}

.sub-main .colomn {
	float: left;
	width: 25.6%;
	padding-left: 13px;
}

.sub-main .colomn:last-child {
	width: 22%;
}

.sub-main h2 {
	font-size: 21px;
	margin-bottom: 30px;
	color: #293848;
}

.sub-main h2 span {
	font-weight: normal;
}

.sub-main img {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.sub-main .mode {
	padding-right: 13px;
}

.sub-main .mode dl {
	border-bottom: 1px dashed #ced3db;
	overflow: hidden;
	padding-left: 5px;
	margin-bottom: 4px;
	margin-top: 0;
}

.sub-main .mode dt {
	float: left;
}

.sub-main .mode dd {
	float: right;
}

.addr-block {
	position: relative; /*
	.email{*/ /* 	.address

dd{

	font-style: normal;
	float: none;
} */
}

.addr-block dl {
	padding-left: 27px;
	margin-bottom: 15px;
	clear: both;
	font-style: normal;
}

.addr-block dt {
	font-weight: bold;
	margin-bottom: -3px;
}

.addr-block a:hover {
	color: #f89d13;
	text-decoration: none;
}

.addr-block .address {
	float: left;
	margin-top: -3px;
}

.addr-block .address dd {
	margin-left: 0;
	font-weight: normal;
}

.addr-block .address:before {
	content: "\f041 ";
	left: 4px;
	top: 0;
	position: absolute;
	font: normal normal normal 16px/1 FontAwesome;
}

.addr-block .phone,
.addr-block .email {
	overflow: hidden;
}

.addr-block .phone dt,
.addr-block .email dt {
	float: left;
	clear: both;
}

.addr-block .phone dd,
.addr-block .email dd {
	float: left;
	margin-left: 3px;
}

.addr-block .phone dd a {
	pointer-events: none;
}

.addr-block .phone:before {
	content: "\f095";
	left: 4px;
	bottom: 71px;
	position: absolute;
	font: normal normal normal 16px/1 FontAwesome;
}

.addr-block .email:before {
	content: "\f0e0";
	left: 4px;
	bottom: 18px;
	position: absolute;
	font: normal normal normal 16px/1 FontAwesome;
}

.footer {
	background: #1d262d url("../images/bg-header.png");
	overflow: hidden;
	padding-top: 32px;
	padding-bottom: 7px;
	color: #fff;
}

.footer .holder {
	padding-bottom: 41px;
}

.footer a {
	color: #a9b5bd;
}

.footer a:hover {
	color: #f89d13;
	text-decoration: none;
}

.footer .footer-nav {
	width: 25.6%;
	padding-right: 20px;
	float: left;
}

.footer .footer-nav li {
	margin-left: 10px;
	margin-bottom: 2px;
}

.footer .footer-nav li:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	margin: 9px 0 0 -9px;
	border-style: solid;
	border-width: 2px 0 2px 5px;
	border-color: transparent transparent transparent #ccc;
}

.footer h2 {
	padding-bottom: 12px;
	margin-bottom: 13px;
	border-bottom: 1px solid #3d4248;
	box-shadow-bottom: 0 1px 0 0 black inset;
}

.footer section {
	width: 23.1%;
	float: left;
}

.footer .social-network {
	float: left;
	margin-top: 5px;
}

.footer .social-network li {
	margin-right: 4px;
	margin-left: 0;
}

#footer {
	border-top: 1px solid #3d4248;
	box-shadow-top: 0 1px 0 0 black;
	color: #a9b5bd;
	padding-top: 15px;
}

#footer .frame {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
	padding-bottom: 14px;
}

#footer p {
	margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
	.search-auto-form .select-w100,
	.loan-form .select-w100 {
		width: 93% !important;
	}

	.search-auto-form .select-w50,
	.loan-form .select-w50 {
		width: 44% !important;
	}

	.logo {
		float: none;
	}

	.opener {
		display: block;
	}

	#nav .drop {
		overflow: hidden;
		position: absolute;
		top: 197px;
		right: 0;
		z-index: 999;
	}

	#nav .drop {
		float: none;
	}

	#nav .drop > ul {
		border: 1px solid #dededf;
		background: #fff;
	}

	#nav ul {
		float: none;
	}

	#nav li {
		float: none;
		margin: 0;
		padding: 0;
	}

	#nav li a {
		border-width: 1px 0 1px 0;
		padding-left: 50px;
		padding-right: 100px;
	}

	#nav {
		display: block;
	}

	/* fade animation */

	#header .drop {
		opacity: 0;
		z-index: -1;
		-webkit-transition: opacity .25s linear, z-index .25s linear;
		transition: opacity .25s linear, z-index .25s linear;
	}

	#header.active .drop {
		opacity: 1;
		z-index: 1000;
		height: auto;
	}

	.search-form {
		float: left;
	}

	.search-form input[type="search"] {
		width: 170px;
	}

	.content .top-section .view {
		margin-right: 5px;
	}

	.content-holder {
		margin-left: 250px;
	}

	.item-list .item {
		width: 50%;
	}

	.item-list img {
		max-width: none;
	}

	.item-list .model {
		padding-left: 5px;
	}

	.item-list .price {
		padding-right: 5px;
	}

	.search-auto-form,
	.loan-form {
		min-width: 220px;
		max-width: 300px;
		width: 100%;
		float: left;
		margin-top: 15px;
	}

	.search-auto-form .w100,
	.loan-form .w100 {
		width: 83%;
	}

	.search-auto-form .w50,
	.loan-form .w50 {
		width: 39.5%;
		float: left;
	}

	.search-auto-form .w50 + .w50,
	.loan-form .w50 + .w50 {
		margin-left: 3%;
	}

	.sub-main .colomn {
		width: 50%;
		margin-bottom: 30px;
	}

	.sub-main .colomn:last-child {
		width: 50%;
		height: auto;
	}

	.addr-block .phone dd a {
		pointer-events: auto;
	}
}

@media only screen and (max-width: 767px) {
	address span {
		display: none;
	}

	.page-title h1 {
		font-size: 24px;
		margin-bottom: 15px;
		float: none;
	}

	.page-title .tabs {
		float: left;
	}

	.table {
		display: table;
	}

	.content {
		display: table-footer-group;
	}

	.content .top-section .view {
		float: none;
		margin-bottom: 10px;
	}

	.content .top-section .sort-form {
		float: none;
		overflow: hidden;
		margin-bottom: 10px;
	}

	.content .top-section .paging ul {
		float: none;
	}

	.content-holder {
		margin-left: 0;
	}

	.sort-form {
		float: none;
	}

	.paging {
		float: none;
	}

	.sidebar {
		display: table-header-group;
		float: none;
		margin-left: 0;
		padding-right: 0;
	}

	.sidebar .search-auto-form {
		margin-right: 15px;
	}

	.sub-main .colomn {
		width: 100%;
		max-width: 400px;
	}

	.sub-main .colomn:last-child {
		width: 100%;
	}

	.footer .footer-nav {
		width: 50%;
		margin-bottom: 20px;
	}

	.footer section {
		width: 50%;
	}
}

@media only screen and (max-width: 560px) {
	.item-list {
		margin-right: -10px;
	}

	.item-list .item {
		width: 100%;
		padding-right: 10px;
		margin-bottom: 10px;
	}
}
