//brand color
$chikago: #595959;
$mine-shaft:#333333;
$alabaster: #f9f9f9;
$carribian-green: #00c492;
$cod-gray: #070707; //tmp active
$outer-space: #2e343e;
$white: #fff;
$black: #000;
$mirage: #181a1e;

//
$base-text-color: $mine-shaft;
$base-background-color: $alabaster;
$base-link-color: $carribian-green;
$base-form-text-color: #000;
$base-form-placeholder-color: #999;
$base-input-border-color: #999;

$base-font-size: 14px;
$base-line-height: 1.286;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 900px;
$base-max-width:1300px;
// @font-face-serif: 
// @font-face-sans-serif: 